body {
  background: #f2f2f2;
  color: #666666;
}
.tipsList {
  padding: 0 .26rem;
  margin: .3rem 0;
}
.tipItem {
  display: inline-block;
  padding: 0 .22rem;
  height: .5rem;
  line-height: .5rem;
  background-color: #f5f5f5;
  color: #999999;
  font-size: .22rem;
  border-radius: .25rem;
}
footer {
  width: 100%;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  display: flex;
  height: 1.3rem;
}
footer a {
  text-align: center;
  font-size: .24rem;
  color: #ccc;
}
footer .service {
  flex: 0 0 1.3rem;
}
footer .service dl {
  margin-top: .26rem;
}
footer .service dl dt {
  background: url("../img/wechat.png") no-repeat center center;
  background-size: .46rem .38rem;
  width: 100%;
  height: .38rem;
}
footer .service dl dd {
  margin-top: .16rem;
}
footer .collect {
  flex: 0 0 1.3rem;
}
footer .collect dl {
  margin-top: .28rem;
}
footer .collect dl dt {
  background: url("../img/col_sel.png") no-repeat center center;
  background-size: .38rem;
  width: 100%;
  height: .38rem;
}
footer .collect dl dd {
  margin-top: .14rem;
}
footer .signUp {
  flex: 1;
  line-height: 1.3rem;
  background-color: #2cc17b;
  color: #ffffff;
  font-size: .36rem;
}
section {
  margin-bottom: 1.5rem;
}
.showBox {
  background: #ffffff;
  padding-top: .3rem;
  padding-left: .2rem;
}
.showBox h4 {
  font-size: .32rem;
  line-height: .48rem;
}
.actTitle {
  color: #2cc17b;
  font-size: .32rem;
  position: relative;
  padding-left: .34rem;
}
.actTitle:before {
  content: '';
  position: absolute;
  top: -0.02rem;
  left: 0;
  width: .12rem;
  height: .37rem;
  background: #2cc17b;
}
.forward:after {
  content: '';
  position: absolute;
  background: url("../img/forward.png") no-repeat right center;
  background-size: .15rem .26rem;
  width: .15rem;
  height: .26rem;
  right: .3rem;
  top: 50%;
  margin-top: -0.13rem;
}
.arrow:after {
  content: '';
  position: absolute;
  background: url("../img/detail/arrow.png") no-repeat right center;
  background-size: .11rem .17rem;
  width: .11rem;
  height: .17rem;
  right: .3rem;
  top: 50%;
  margin-top: -0.085rem;
}
.showBar {
  display: block;
  padding-left: .3rem;
  background: #ffffff;
  border-top: .01rem solid #e6e6e6;
  border-bottom: .01rem solid #e6e6e6;
}
.infoBox li {
  height: .9rem;
  line-height: .9rem;
}
.infoBox li:not(:last-child) {
  border-bottom: .01rem solid #e6e6e6;
}
.infoBox li .infoWwrapper {
  display: block;
  width: 100%;
  height: 100%;
}
.dot {
  position: absolute;
  width: .32rem;
  height: .32rem;
  background: #ff3333;
  font-size: .24rem;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  line-height: .32rem;
}
.footList {
  width: 100%;
}
.footList li {
  display: inline-block;
  width: 50%;
  height: 100%;
}
.footList li a {
  display: block;
  width: 100%;
  height: 100%;
}
.footList .home dt {
  background: url("../img/home_sel.png") no-repeat center center;
  background-size: .41rem .38rem;
  width: 100%;
  height: .38rem;
  margin-top: .22rem;
}
.footList .home dd {
  margin-top: .09rem;
}
.footList .my dt {
  background: url("../img/my.png") no-repeat center center;
  background-size: .32rem .37rem;
  width: 100%;
  height: .37rem;
  margin-top: .22rem;
}
.footList .my dd {
  margin-top: .1rem;
}
.module {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.background img {
  width: 100%;
}
header .location {
  position: absolute;
  top: .25rem;
  height: .56rem;
  line-height: .56rem;
}
header .location span {
  vertical-align: middle;
  font-size: .28rem;
  color: #ffffff;
  margin-left: .3rem;
  padding-left: .3rem;
  background: url("../img/location.png") no-repeat left 0.05rem;
  background-size: .22rem .28rem;
}
header .location .searchBox {
  display: inline-block;
  margin-left: .28rem;
  width: 4.7rem;
  height: .56rem;
  border-radius: .28rem;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}
header .location .searchBox em {
  font-size: .28rem;
  background: url("../img/search.png") no-repeat left;
  background-size: .3rem;
  padding-left: .4rem;
}
section .navbar {
  background: #ffffff;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  margin: .2rem 0;
  justify-content: space-between;
  padding: .3rem 0;
}
section .navbar .item {
  font-size: .28rem;
  flex: 1;
}
section .navbar .item:not(:last-child) {
  border-right: .01rem solid #e6e6e6;
}
section .navbar .item a {
  display: inline-block;
  width: 100%;
  color: #333333;
  height: 100%;
  text-align: center;
}
section .num {
  width: 2.68rem;
  height: .63rem;
  text-align: center;
  line-height: .63rem;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
section .showBox {
  background: #ffffff;
}
section .showBox .market {
  flex: 1;
  margin-top: .8rem;
  text-decoration: line-through;
  display: inline-block;
  font-size: .22rem;
  margin-left: .64rem;
}
section .showBox .detailTitle {
  display: inline-block;
  margin-top: .3rem;
  margin-left: .6rem;
  line-height: .48rem;
  width: 4.8rem;
  font-size: .32rem;
}
section .tips {
  position: absolute;
  bottom: .3rem;
  right: 0;
}
section .tips a {
  color: #ffffff;
  font-size: .24rem;
}
section .tips .collect {
  background: url("../img/col.png") no-repeat left 0.04rem;
  background-size: .24rem .22rem;
  padding-left: .34rem;
  margin-right: .2rem;
}
section .tips .share {
  background: url("../img/share.png") no-repeat left 0.05rem;
  background-size: .24rem .2rem;
  padding-left: .34rem;
  margin-right: .3rem;
}
section .priceWrapper {
  background: #ffffff;
  position: absolute;
  left: .6rem;
  bottom: -0.65rem;
  width: 1.3rem;
  height: 1.3rem;
  line-height: 1.3rem;
  border-radius: 50%;
  border: 0.01rem solid #2cc17b;
}
section .priceWrapper .price {
  text-align: center;
  color: #2cc17b;
  font-size: .40rem;
  font-weight: 500;
}
section .priceWrapper .price i {
  font-size: .2rem;
}
